@model QuanLiKhoHang_DoAnWeb.Models.ViewModels.ShoppingCartViewModel

@{
    ViewData["Title"] = "AppointmentConfirmation";
}

<br />
<h2 class="text-info">Appointment Confirmation</h2>
<div class="form-text">
    Đơn hàng của bạn đã được gửi đi. Nhân viên của chúng tôi sẽ xem xét và liên hệ cho bạn theo số điện thoại được cung cấp trong thời gian ngắn nhất.
</div>
<br />

<a asp-area="Client" asp-controller="Home" asp-action="Index" class="btn btn-success"> Back to Products</a>