@model QuanLiKhoHang_DoAnWeb.Models.ProductTypes
@{ 
    ViewData["Title"] = "CreateProductType";
}

<h1>Tạo ngành hàng mới</h1>

<form method="post" asp-action="CreateProductType">
    <div class="p-4 border rounded">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-3 ">
                <label asp-for="ProductTypeName"></label>
            </div>
            <div class="col-5">
                <input asp-for="ProductTypeName" />
            </div>
            <span asp-validation-for="ProductTypeName" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-3 ">
                <label asp-for="Description"></label>
            </div>
            <div class="col-5">
                <input asp-for="Description" />
            </div>
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Tạo" />
            <a asp-action="Index" class="btn btn-success">Quay lại</a>
        </div>
    </div>
</form>

@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

